.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.half{
  display:flex;
  flex-direction: row;

}
.board{
  position: sticky;
  top:2%;
  /* border: 2px solid black; */
  width:60vw;
  height:80vh;
}
#resultText{
  width: 450px;
  height:600px;
  font-size: x-small;
  font-family: Serif;

  resize: none;
}
.userBoard{
  width:40vw;
}

.question{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin:auto;
  margin-top: 30px;
  margin-bottom: 45px;
  width:25vw;
}

.dropdown{
  position: relative;
  
  border: 3px;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdownMenu{
  position: absolute;
  top:20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
  margin-bottom: 5px;
  padding-top: 10px;

  width:25vw;

  border:2px solid black;
  border-radius: 5px;
  border-top: none;

  background-color: white;

}

.dropdownButton{
  z-index: 99;
  border:2px solid black;
  background-color: rgb(238, 238, 238);
  height: 30px;
}

.twoButtonHolder{
  margin-top: 3px;
  display: flex;
}

.dropdownItem{
  
  background-color: transparent;
  border: 0;
  width:70%;
}

.itemDelete{
  
  background-color: transparent;
  border:0;

  width:15%;
  align-self: right;
}
.itemDelete:hover{
  background-color: #61dafb;
}
.dropdownItem:hover{
  background-color: #61dafb;
}

.addOption{
  
  margin-top: 20px;
  width: fit-content;
  background-color: transparent;
  color: blue;
  border: 0 
}
.addOption:hover{
  font-weight: 600;
}

.grayScreen{
  z-index: 400;
  display:flex;
  position: fixed;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  background-color: rgba(220, 220, 220, 0.789);
}

.popupWindow{
  position: relative;

  display:flex;
  flex-direction: column;
  justify-content: space-around;

  margin:auto;
  height:70vh;
  width:70vw;
  background-color: white;
  
  border-radius: 7px;
}

.popupWindow h2{
  margin-left: 45px;
}

.popupClose{
  position:absolute;
  border: none;
  left: 95%;
  top: 0%;
  background-color: transparent;
  border-radius:7px;
}
.popupClose:hover{
  font-weight: 600;
}
#PopupWindowTitle{
}
#tagInput{
  margin-top: 0px;
  margin-left: 8%;
  padding: 4px 4px 4px 4px;
  align-self: flex-start;
  width: 150px;
}
#descriptionInput{
  height:250px;
  width:85%;
  resize: none;
  max-height: 500px;
  align-self: center;
  
}


#submitButton{
  background-color: transparent;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 25px;
  border-radius: 5px;
  
}

#submitButton:hover{
  background-color: aqua;
}

@media only screen and (max-width: 600px) {

  #inputForms{flex-direction: column;
  margin: auto;}

  
}

#signOutButton{
  position: fixed;
  top:2%;
  left:2%;
  font-size: smaller;
  padding: 5px;
}