/*------------------------------------------------------------------
    Version: 1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

@import "@aws-amplify/ui-react/styles.css";

body {
    /* color: #999999; */
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.80857;
}

html, body{
	height: 100%;
}

h1{
    text-transform: uppercase;
    font-size:36px;
}
h3{
    font-size:28px;
    font-weight: 400;
}
h4{
    margin: 10px auto 0px auto
}
p{
    font-size: medium;
}

a, a:visited, a:hover, a:active {
    color: rgb(132, 132, 228);
  }

.navigationBar{
    /* background-color: gray; */
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding-left: 10px;
    padding-top:5px;
    padding-right: 5%;
}

.pointer-link {
    cursor: pointer;
  }

.rowItems{
    width: 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.navItems{
    font-size:medium;
    color:white;

}

.navItems a{
    color:white;
}

.page{
    display:flex;

    background-color: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(66, 66, 66);

    color: rgb(222, 222, 222);
    justify-content: center;
    align-items: center;
    text-align:center;

    height: 100vh;
    width: 100vw;
    max-width: 100%;

    padding: 40px;
}

.introContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    text-align: left;
}

.profilePic{
    margin:auto;
    margin-left: 100px;
    object-fit: contain;
}

.flexText{
    margin:auto;
}
.portfolioPage{
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    width: 100%;
}
.summary-block{
    
    display:flex;
    flex-direction: column;
    
    
    width: 250px;
    height: 350px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(163, 163, 163);

    margin:auto 15px auto 15px;
    overflow: hidden;
}

.summary-block div{
    overflow: hidden;
}
.summary-block .flexText{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    -webkit-box-pack:start;
    -webkit-box-align: start;
    

    margin: 0px 6px 0px 6px;
    
}


.summary-block p{
    margin-top: 11px;
    text-align: left;
}

.summary-block span{
    align-self: flex-start;
    margin-left: 6px;
}

.summary-block img{
    max-width: 100%;
    
}

.half {
    width: 50%;
}

.leftBox{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.contactInfo{
    display:flex;
    flex-direction: row;
    height:50px;
    width: 350px;
    justify-content:flex-start;
    align-self:center ;

    margin:auto;
    margin-top:30px;
}

.contactInfo a{
    margin:auto;
    margin-left: 15px;
}
.contactInfo p{

    margin:auto;
}

.contactInfo img{
    size: 50px 50px;
}



.amplify-button{
    --amplify-components-button-hover-background-color:blue;
}






