.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.question{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin:auto;
  margin-top: 50px;
  margin-bottom: 0px;
  width:25vw;
}

.dropdown{
  position: relative;
  
  border: 3px;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdownMenu{
  position: absolute;
  top:20px;

  margin: auto;
  margin-bottom: 5px;
  padding-top: 10px;

  width:25vw;

  border:2px solid black;
  border-radius: 5px;
  border-top: none;

  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.dropdownButton{
  z-index: 99;
  border:2px solid black;
  background-color: rgb(238, 238, 238);
  
}

.dropdownItem{
  margin-top: 3px;
  background-color: transparent;
  border: 0;
  
}

.dropdownItem:hover{
  background-color: #61dafb;
}