.dropdownItem{
    visibility:visible;
}

.dropdown{
   
    margin: auto;
    margin-top: 50px;
    width: 20vw;
    border: 3px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

